$font-heading: 'Bebas Neue', cursive;
$font-light: 'Roboto', sans-serif;
// $font-cursive: 'Alex Brush', cursive;
$font-cursive: 'Better Grade', sans-serif;

$primary-color: #e0b009;
$secondary-color: #c7934e;
$card-color: #fffaf1;
$tertiary-color: #efe0bb;
