.home-header {
  min-height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  &_content {
    max-width: 80rem;
    margin: 5rem 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    p {
      font-family: $font-cursive;
      letter-spacing: 0.5rem;
      font-size: 9rem;
      line-height: 6rem;
      text-transform: lowercase;
      line-height: 6rem;

      span {
        font-size: 10rem;
        font-family: $font-cursive;
        color: $secondary-color;
        text-transform: capitalize;
      }
    }
  }

  &_content-buttons {
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
    align-items: center;
    width: 40rem;
    flex-wrap: wrap;
  }
}

.main_time {
  max-width: 100%;
  text-align: center;
  padding: 2rem;

  .time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-light;
    padding: 2rem;
    width: 80%;
    margin: 5rem auto;
    font-size: 2.5rem;

    h2 {
      letter-spacing: 0.5rem;
      font-size: 2.5rem;
      text-transform: capitalize;
    }

    h3 {
      font-family: $font-cursive;
      font-size: 6rem;
      letter-spacing: 0.8rem;
      color: $secondary-color;
    }

    & > :not(:last-child) {
      margin-bottom: 4rem;
    }

    a {
      text-decoration: none;
      color: $primary-color;
    }
  }
}

.main_lectures {
  background-color: $secondary-color;
  padding: 1rem;
  min-height: 55rem;

  &-title {
    max-width: 25rem;
    letter-spacing: 0.4rem;
    background-color: #000000;
    padding: 1rem;
    transform: skewy(3deg);
    transform: translatey(-2rem);
    margin-left: 2rem;
    span {
      color: #ffff;
      font-family: $font-cursive;
      font-size: 5rem;
    }
  }

  &-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .card {
      background-color: $card-color;
      border-radius: 0.1rem;
      max-width: 35rem;
      min-height: 10rem;
      padding: 2rem;
      margin: 2rem;
      box-shadow: 0 10px 6px -6px rgba($color: #000000, $alpha: 0.4);
      display: flex;
      flex-direction: column;

      iframe {
        width: 35rem;
        height: 20rem;
      }

      .card_details {
        display: flex;
        flex-direction: column;
        max-width: 40rem;

        &-title {
          font-family: $font-cursive;
          font-size: 5rem;
          color: $secondary-color;
          margin-bottom: 1rem;
          text-transform: capitalize;
          letter-spacing: 0.2rem;
        }

        &-date {
          font-family: $font-light;
          font-size: 1.5rem;
          text-transform: capitalize;
          margin-bottom: 2rem;
          font-style: italic;
        }

        &-preacher {
          font-family: $font-light;
          font-size: 2rem;
          text-transform: capitalize;
        }
      }
    }
  }
}

.main_map {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &-details {
    flex-grow: 1;
    padding: 4rem;

    .details-title {
      max-width: 25rem;
      letter-spacing: 0.4rem;
      background-color: #000000;
      padding: 1rem;
      transform: skewy(3deg);
      transform: translatey(-5rem);
      margin-left: 2rem;
      span {
        color: #ffff;
        font-family: $font-cursive;
        font-size: 5rem;
      }
    }

    .details-info {
      font-size: 2rem;

      &-name {
        display: flex;
        flex-direction: column;
        min-width: 50rem;
        text-transform: capitalize;
        text-align: center;

        span {
          font-family: $font-heading;
          letter-spacing: 1rem;
        }

        h3 {
          font-family: $font-cursive;
          font-size: 8rem;
          color: $secondary-color;
          font-weight: 300;
          letter-spacing: 0.2rem;
        }
      }

      &-times {
        font-family: $font-heading;
        line-height: 4rem;
        font-size: 2rem;
        padding: 2rem;
        letter-spacing: 0.2rem;

        h4 {
          font-weight: 300;

          span {
            font-size: 2.5rem;
            color: $secondary-color;
          }
        }
      }

      .button {
        background-color: $secondary-color;
        text-decoration: none;
        padding: 1.5rem 4rem;
        font-size: 1.2rem;
        color: #ffff;
        letter-spacing: 0.4rem;
        font-family: $font-light;
        border-radius: 1rem;
        text-transform: uppercase;
        margin-left: 2rem;

        &:hover {
          transform: translateY(-0.5rem);
          transition: 0.5s;
        }
      }
    }
  }

  &-map {
    flex-grow: 1;
    iframe {
      height: 100%;
      width: 100%;
    }
  }
}

@import '../layouts/footer';
