@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bebas+Neue&family=Roboto:wght@300&display=swap");
@import url("http://fonts.cdnfonts.com/css/better-grade");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

.button {
  background-color: #c7934e;
  text-decoration: none;
  padding: 1.5rem 4rem;
  font-size: 1.2rem;
  color: #ffff;
  letter-spacing: 0.4rem;
  font-family: "Roboto", sans-serif;
  border-radius: 1rem;
  text-transform: uppercase;
}

.button:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.new_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
}

.new_content-description {
  width: 60rem;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new_content-description h1 {
  font-size: 4rem;
  font-family: "Bebas Neue", cursive;
  color: #c7934e;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.new_content-description span {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  color: #000000;
}

.new_content-description a {
  display: inline-block;
  margin-top: 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.new_content-images {
  padding: 5rem;
  position: relative;
  z-index: 1;
}

.new_content-images img {
  max-width: 40rem;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  border-radius: 1rem;
  -webkit-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  z-index: 1;
}

.new_content-images .front-image {
  -webkit-transform: translate(-10rem, 5rem);
          transform: translate(-10rem, 5rem);
}

.new_content-images .back-image {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav_logo img {
  width: 25rem;
  margin-left: 3rem;
}

.nav_list-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_list-item li {
  margin-right: 3rem;
}

.nav_list-item li a {
  text-decoration: none;
  color: #000000;
}

.nav_list-item li a:hover {
  color: #e0b009;
  border-bottom: 0.1rem solid #e0b009;
}

.home-header {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../images/background.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_content {
  max-width: 80rem;
  margin: 5rem 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main_content p {
  font-family: "Better Grade", sans-serif;
  letter-spacing: 0.5rem;
  font-size: 9rem;
  line-height: 6rem;
  text-transform: lowercase;
  line-height: 6rem;
}

.main_content p span {
  font-size: 10rem;
  font-family: "Better Grade", sans-serif;
  color: #c7934e;
  text-transform: capitalize;
}

.main_content-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_time {
  max-width: 100%;
  text-align: center;
  padding: 2rem;
}

.main_time .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 2rem;
  width: 80%;
  margin: 5rem auto;
  font-size: 2.5rem;
}

.main_time .time h2 {
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.main_time .time h3 {
  font-family: "Better Grade", sans-serif;
  font-size: 6rem;
  letter-spacing: 0.8rem;
  color: #c7934e;
}

.main_time .time > :not(:last-child) {
  margin-bottom: 4rem;
}

.main_time .time a {
  text-decoration: none;
  color: #e0b009;
}

.main_lectures {
  background-color: #c7934e;
  padding: 1rem;
  min-height: 55rem;
}

.main_lectures-title {
  max-width: 25rem;
  letter-spacing: 0.4rem;
  background-color: #000000;
  padding: 1rem;
  -webkit-transform: skewy(3deg);
          transform: skewy(3deg);
  -webkit-transform: translatey(-2rem);
          transform: translatey(-2rem);
  margin-left: 2rem;
}

.main_lectures-title span {
  color: #ffff;
  font-family: "Better Grade", sans-serif;
  font-size: 5rem;
}

.main_lectures-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_lectures-cards .card {
  background-color: #fffaf1;
  border-radius: 0.1rem;
  max-width: 35rem;
  min-height: 10rem;
  padding: 2rem;
  margin: 2rem;
  -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_lectures-cards .card iframe {
  width: 35rem;
  height: 20rem;
}

.main_lectures-cards .card .card_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 40rem;
}

.main_lectures-cards .card .card_details-title {
  font-family: "Better Grade", sans-serif;
  font-size: 5rem;
  color: #c7934e;
  margin-bottom: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
}

.main_lectures-cards .card .card_details-date {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-style: italic;
}

.main_lectures-cards .card .card_details-preacher {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
}

.main_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_map-details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 4rem;
}

.main_map-details .details-title {
  max-width: 25rem;
  letter-spacing: 0.4rem;
  background-color: #000000;
  padding: 1rem;
  -webkit-transform: skewy(3deg);
          transform: skewy(3deg);
  -webkit-transform: translatey(-5rem);
          transform: translatey(-5rem);
  margin-left: 2rem;
}

.main_map-details .details-title span {
  color: #ffff;
  font-family: "Better Grade", sans-serif;
  font-size: 5rem;
}

.main_map-details .details-info {
  font-size: 2rem;
}

.main_map-details .details-info-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 50rem;
  text-transform: capitalize;
  text-align: center;
}

.main_map-details .details-info-name span {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1rem;
}

.main_map-details .details-info-name h3 {
  font-family: "Better Grade", sans-serif;
  font-size: 8rem;
  color: #c7934e;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.main_map-details .details-info-times {
  font-family: "Bebas Neue", cursive;
  line-height: 4rem;
  font-size: 2rem;
  padding: 2rem;
  letter-spacing: 0.2rem;
}

.main_map-details .details-info-times h4 {
  font-weight: 300;
}

.main_map-details .details-info-times h4 span {
  font-size: 2.5rem;
  color: #c7934e;
}

.main_map-details .details-info .button {
  background-color: #c7934e;
  text-decoration: none;
  padding: 1.5rem 4rem;
  font-size: 1.2rem;
  color: #ffff;
  letter-spacing: 0.4rem;
  font-family: "Roboto", sans-serif;
  border-radius: 1rem;
  text-transform: uppercase;
  margin-left: 2rem;
}

.main_map-details .details-info .button:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main_map-map {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main_map-map iframe {
  height: 100%;
  width: 100%;
}

.main_footer {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main_footer-logo {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.main_footer-logo span {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5rem;
  color: #ffffff;
  font-size: 1.6rem;
}

.main_footer-logo h3 {
  font-size: 5rem;
  color: #c7934e;
  font-family: "Better Grade", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  font-weight: 300;
}

.main_footer-verse {
  width: 30rem;
  padding: 2rem;
}

.main_footer-verse span {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 300;
}

.main_footer-verse i {
  color: #c7934e;
  font-size: 1.5rem;
}

.main_footer-verse .social-details {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_footer-verse .social-details a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 0.5rem;
}

.main_footer-verse .social-details .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 20rem;
  padding: 1rem;
}

.main_footer-verse .social-details .phone span {
  font-size: 1.8rem;
}

.new_header {
  min-height: 100vh;
  position: relative;
}

.new_header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new_header-content h1 {
  font-size: 20rem;
  font-family: "Better Grade", sans-serif;
  color: #c7934e;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

.new_header-content h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  -webkit-transform: translateY(-2.5rem);
          transform: translateY(-2.5rem);
  margin-bottom: 4rem;
}

.new_header-smoke {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -2;
}

.new_title {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2rem;
  font-size: 4rem;
  color: #000000;
  padding: 5rem;
}

.more_info {
  background-color: #c7934e;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.more_info span {
  font-size: 3rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2rem;
  color: #ffffff;
}

.more_info a {
  background-color: #ffffff;
  color: #000000;
}

.event_header {
  min-height: 100vh;
}

.event_header-content {
  font-size: 15rem;
  font-family: "Better Grade", sans-serif;
  letter-spacing: 0.3rem;
  color: #c7934e;
  text-align: center;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.event_header-content h3 {
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.4rem;
}

.event_content {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.event_content-cards {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 4rem;
}

.event_content-cards .card_cover {
  width: 400px;
  height: 300px;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

.event_content-cards .card_descriptions-title {
  font-size: 4rem;
  max-width: 40rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-weight: 300;
  color: #000;
}

.event_content-cards .card_descriptions-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.event_content-cards .card_descriptions-info .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 2rem;
}

.event_content-cards .card_descriptions-info .icon-description {
  margin-left: 2rem;
}

.event_content-cards .card_descriptions-info .icon-description h4 {
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 1rem;
  font-weight: 300;
}

.event_content-cards .card_descriptions-info .icon-description span {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.contact_header {
  min-height: 100vh;
}

.contact_header-content {
  font-size: 15rem;
  font-family: "Better Grade", sans-serif;
  letter-spacing: 0.3rem;
  color: #c7934e;
  text-align: center;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_header-content h3 {
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.4rem;
}

.contact_content {
  padding: 5rem;
}

.contact_content-form {
  padding: 8rem 4rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 50rem;
  border-radius: 0.5rem;
}

.contact_content-form form > :not(:last-child) {
  margin-bottom: 2rem;
}

.contact_content-form label {
  display: block;
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.contact_content-form label span {
  color: #c7934e;
}

.contact_content-form input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #f5f5f5;
  width: 20rem;
}

.contact_content-form input:focus {
  outline-color: #c7934e;
}

.contact_content-form input[type='number']::-webkit-inner-spin-button, .contact_content-form input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact_content-form input[type='number'] {
  width: 100%;
}

.contact_content-form input[type='submit'] {
  background-color: #c7934e;
}

.contact_content-form .finput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.contact_content-form select {
  padding: 1rem;
  width: 100%;
  text-transform: capitalize;
  font-size: 1.5rem;
  border: none;
  background-color: #f5f5f5;
}

.contact_content-form select:focus {
  outline-color: #c7934e;
}

.contact_content-form textarea {
  padding: 2rem;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  border: none;
  background-color: #f5f5f5;
}

.contact_content-form textarea:focus {
  outline-color: #c7934e;
}
/*# sourceMappingURL=main.css.map */